.header {

}

.logo {
  margin: (-$logo-size--half) 0 0 (-$logo-size--half);

  @include position(absolute, 50% 0 0 50%);

  img {
    display: block;
    width: $logo-size;
    height: $logo-size;
  }
}
