.main {
  position: relative;
  z-index: 2;
  padding: 3.6rem 2.4rem;
  width: 100%;
  height: 100%;
  background: url($background-image--body) #000 top center no-repeat;
  color: #fff;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
  }

  &:before {
    z-index: 3;
    background: rgba(0,0,0,.5);
  }

  &:after {
    z-index: 4;
    background: linear-gradient(270deg, $brand-colour__tertiary, $brand-colour__secondary);
    background-size: 400% 400%;
    -webkit-animation: background-shimmer 15s ease infinite;
    -moz-animation: background-shimmer 15s ease infinite;
    animation: background-shimmer 15s ease infinite;
    opacity: .4;
  }
}

@-webkit-keyframes background-shimmer {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background-shimmer {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background-shimmer {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
