/**
 * components/_footer.scss
 */

/* ==========================================================================
   Footer
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

$border-color: color(border, light);


/**
 * Footer
 */

.footer {
  margin-top: 2em;
  border-top: 1px solid $border-color;
  padding: 2em 0 4em;

  & > :first-child {
    margin: 0;
  }

  & > :last-child {
    margin: 0;
  }
}
