/**
 * components/_form.scss
 */

/* ==========================================================================
   Form
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

// $example;


/**
 * Form components
 */

.form {
  overflow: hidden;

  &__field {
    margin: 0 0 1.125em;
  }

  &__label {
    display: block;
    margin: 0 0 0.5em;
  }
}
