/**
 * components/_header.scss
 */

/* ==========================================================================
   Header
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

$border-color: transparentize(color(bw, black), 0.94);


/**
 * Header
 */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $border-color;
  padding: 4em 0 2em;
}
