/**
 * components/_header.scss
 */

/* ==========================================================================
   Header
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

$border-color: color(border, light);


/**
 * Header
 */

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
  padding: 4em 0 0;
}
