/**
 * components/_icons.scss
 */

/* ==========================================================================
   Icons
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

// $example;


/**
 * Base icon styles
 */

.icon {
  fill: currentColor;
}


/**
 * Icon modifiers
 */

.icon--social {
  width: 48px;
  height: 48px;
}
