/**
 * components/_icons.scss
 */

/* ==========================================================================
   Icons
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

// $example;


/**
 * Base icon styles
 */

.icon {
  fill: currentColor;
}


/**
 * Icon modifiers
 */

.icon--social {
  width: 2em;
  height: 2em;
}

.icon--tags {
  width: 1em;
  height: 1em;
}
