/**
 * components/_logo.scss
 */

/* ==========================================================================
   Logo
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

// $example;


/**
 * Logo styles
 */

.logo {
  display: block;
  border: 0;

  &__img {
    display: block;
    width: $logo-size;
    height: $logo-size;
  }
}
