/**
 * components/_logo.scss
 */

/* ==========================================================================
   Logo
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

// $example;


/**
 * Logo styles
 */

.logo {
  display: block;
  border: 0;

  &__img {
    display: block;
    width: ($logo-size) / 1.80;
    height: ($logo-size) / 1.80;

    @include av-mq(handheld-and-up) {
      width: ($logo-size) / 1.25;
      height: ($logo-size) / 1.25;
    }

    @include av-mq(desk) {
      width: $logo-size;
      height: $logo-size;
    }
  }
}
