/**
 * components/_nav.scss
 */

/* ==========================================================================
   Navigation
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

// $example;


/**
 * Navigation
 */

.nav {
  display: flex;
  align-items: center;
  margin: 2em 0;
  width: 100%;

  @include av-mq(thumb) {
    justify-content: center;
  }

  &__list {
    @extend %list-bare;

    display: flex;
    align-items: center;
    margin: 0;
  }

  &__item {
    padding: 0 0.5em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    a {
      border: 0;
      color: color(brand, secondary);

      &:hover {
        color: color(brand, primary);
      }
    }
  }
}
