/**
 * components/_splash-page.scss
 */

/* ==========================================================================
   Splash page
   ========================================================================== */

/**
 * Declare local vars (only used here)
 */

// $example;


/**
 * Homepage fullscreen splash component.
 */

.splash-page {
  position: relative;
  z-index: 2;
  background-color: color(brand, secondary);
  background-image: url($background-image--small);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: color(text, light);

  @include av-mq(lap-and-up) {
    width: 100%;
    height: 100%;
  }

  &.is-loaded {
    background-image: url($background-image);
  }

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    content: '';
  }

  &::before {
    z-index: 3;
    background: transparentize(color(bw, black), 0.5);
  }

  &::after {
    opacity: 0.4;
    z-index: 4;
    background: linear-gradient(270deg, color(gradient, start), color(gradient, end));
    animation: background-shimmer 15s ease infinite;
  }

  &__content {
    position: relative;
    z-index: 5;
    padding: 1.5rem;
    max-width: 860px;

    @include av-mq(lap-and-up) {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    h1 {
      text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    }

    p {
      text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    }
  }
}
