/**
 * Logo
 */

.logo {
  display: block;
  margin: 2rem 0;
  width: ($logo-size) / 1.80;
  height: ($logo-size) / 1.80;
}


/**
 * Primary Content
 */

.primary-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 3rem 2rem;
  max-width: 680px;

  h1 {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    font-weight: 700;
  }

  p {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    font-size: 1.6rem;
    font-weight: 400;
  }
}


/**
 * Social links
 */

.social {
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
  }

  &__link {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    border-bottom: none;
    fill: #fff;
    @include transition(fill $base-anim-duration ease-in-out);

    &:hover,
    &:focus {
      fill: $brand-colour__primary;

      .social__label {
        display: none;
        color: #fff;
        -webkit-animation-duration: $base-anim-duration;
        animation-duration: $base-anim-duration;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
      }
    }
  }

  &__label {
    position: absolute;
    left: 50%;
    display: none;
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -12px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate(-50%, -12px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}


/**
 * Loader
 */

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: $brand-colour__primary;

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    background-color: #fff;

    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
  }
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
