/**
 * Logo
 */

.logo {
  display: block;
  margin: 2rem 0;
  width: ($logo-size) / 1.80;
  height: ($logo-size) / 1.80;
}


/**
 * Primary Content
 */

.primary-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 3rem 2rem;
  max-width: 680px;

  h1 {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    font-weight: 700;
  }

  p {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
      font-size: 1.6rem;
    font-weight: 400;
  }
}


/**
 * Social links
 */

.social {
  margin: 2.4rem 0 0 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
  }

  &__link {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    border-bottom: none;
    fill: #fff;
    transition: fill $base-anim-duration ease-in-out;

    &:hover,
    &:focus {
      fill: $brand-colour__primary;

      .social__label {
        display: none;
        color: $base-text-colour;
        animation-duration: $base-anim-duration;
        animation-name: fadeInDown;
      }
    }
  }

  &__label {
    position: absolute;
    left: 50%;
    display: none;
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
}


/**
 * Contact Form
 */

 .sidebar {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 3;
   display: block;
   padding: 3.6rem 2.4rem;
   width: 100%;
   height: 100%;
   overflow-y: auto;
   background-color: $brand-colour__secondary;
 }

.no-js .contact-form {
  position: relative;
}

.contact {
  margin: 0 auto;
  color: $base-text-colour;

  &__title {
    margin-top: 0;
    text-align: center;
    font-size: 2.7rem;
  }

  &--open &__title {
    animation: rubberBand;
    animation-delay: ($base-anim-duration * 6);
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  &__form {
    margin: 0 auto;
    font-size: 1.8rem;
    overflow: hidden;

    .input {
      padding-bottom: 4px;
      color: $base-text-colour;
      border-bottom: 1px dashed $brand-colour__tertiary;
      transition: color 300ms linear;

      &--contact-details {
        white-space: nowrap;
      }

      &:hover {
        cursor: pointer;
      }

      &:after {
        display: none;
        content: attr(data-placeholder);;
        color: $brand-colour__tertiary;
        opacity: 1;
        transition: opacity 300ms linear;
      }

      &:focus {
        outline: none;
        color: $base-text-colour;
        animation: borderPulse;
        animation-duration: ($base-anim-duration * 8);
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        &:after {
          color: $brand-colour__tertiary;
          opacity: .5;
        }
      }

      &:empty:after {
        display: inline;
      }
    }

    .select {
      width: auto;
      min-width: 0;
      padding: 0 0 4px 0;
      border: none;
      border-radius: 0;
      border-bottom: 1px dashed $brand-colour__tertiary;
      background-color: transparent;
      color: $brand-colour__tertiary;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;

      &:focus {
        animation-duration: ($base-anim-duration * 8);
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }

      &:focus {
        opacity: .5;
      }
    }
  }

  .contact__form-response {
    p {
      font-size: 1.6rem;
    }
  }
}


/**
 * Loader
 */

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: $brand-colour__primary;

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    background-color: $base-text-colour;
    animation: rotateplane 1.2s infinite ease-in-out;
  }
}
