// Backgrounds
$background-image--body: '/assets/img/background--body.jpg';
$background-image--header: '/assets/img/background--header.jpg';

// Logo
$logo-size: 192px;
$logo-size--half: $logo-size / 2;
