/**
 * settings/_base.scss
 */

/* ==========================================================================
   Base variable settings
   ========================================================================== */

/**
 * High level base settings
 */

$base-font-size: 24px;
$base-line-height: 36px;
$base-spacing-unit: 1rem;
$base-gutter: $base-spacing-unit;
$base-container-width: 50rem;
$base-container-gutter: $base-spacing-unit;
$base-font: 'europa', 'Quicksand', 'Helvetica Neue', Helvetica, Arial;
$base-anim-duration: 300ms;
$base-anim-easing: cubic-bezier(0.16, 0.68, 0.43, 0.99);
$base-anim-easing-alt: cubic-bezier(0.175, 0.885, 0.32, 1.275);


/**
 * Backgrounds
 */

$background-image: '/assets/img/background__body.jpg';
$background-image--small: '/assets/img/background__body--small.jpg';


/**
 * Logo
 */

$logo-size: 160px;
$logo-size--half: $logo-size / 2;


/**
 * Typography
 */

$font-primary: $base-font;
$font-secondary: 'europa', 'Quicksand', 'Helvetica Neue', Helvetica, Arial;
