---
layout: page
title: Projects
permalink: /projects/
description: "This is a portfolio"
---

<ul class="listing">
  {% for post in site.projects %}
  <li class="listing__item">
    <article class="project-post">
      <div class="project-post__header">
        <h1 class="project-post__title"><a href="{{ post.external_url }}" rel="external">{{ post.title }}</a></h1>
      </div>
      <div>
        <p>{{ post.content }}</p>
      </div>
      {% include tags.html %}
    </article>
  </li>
  {% endfor %}
</ul>
