/**
 * base/_anchors.scss
 */

/* ==========================================================================
   Anchors
   ========================================================================== */

/**
 * Set default anchor styles
 */

a {
  transition:
    color $base-anim-duration $base-anim-easing,
    border $base-anim-duration $base-anim-easing;
  border-bottom: 0.12em solid color(brand, primary);
  text-decoration: none;
  color: color(brand, primary);

  &:hover {
    border-bottom: 0 solid transparent;
  }

  .is-home & {
    border-bottom-color: color(bw, white);
    padding-bottom: 2px;
    color: color(bw, white);

    &:hover {
      border-bottom-color: transparent;
    }
  }
}


/**
 * Style external links
 */

[href^="http"]:not([href*="codepen.io"])::after {
  display: inline-block;
  margin-left: 0.2em;
  background-image: url(/assets/img/icon__external-link.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 0.55em;
  height: 1em;
  overflow: hidden;
  text-indent: 1em;
  white-space: nowrap;
  content: '(external link)';
}
