/**
 * base/_anchors.scss
 */

/* ==========================================================================
   Anchors
   ========================================================================== */

/**
 * Set default anchor styles
 */

a {
  transition:
    color $base-anim-duration $base-anim-easing,
    border-color $base-anim-duration $base-anim-easing;
  border-bottom: 1px dashed color(brand, primary);
  padding-bottom: 2px;
  text-decoration: none;
  color: color(brand, primary);

  &:hover {
    border-bottom-color: transparent;
  }

  .is-home & {
    border-bottom-color: color(bw, white);
    padding-bottom: 2px;
    color: color(bw, white);

    &:hover {
      border-bottom-color: transparent;
    }
  }
}
