/**
 * base/_headings.scss
 */

/* ==========================================================================
   Headings
   ========================================================================== */

/**
 * Base heading sizes
 */

%alpha,
.alpha,
h1,
%beta,
.beta,
h2,
%gamma,
.gamma,
h3,
%delta,
.delta,
h4,
%epsilon,
.epsilon,
h5,
%zeta,
.zeta,
h6 {
  font-family: $font-primary;
}

%alpha,
.alpha,
h1 {
  font-size: 2em;
}

%beta,
.beta,
h2, {
  font-size: 1.5em;
}

%gamma,
.gamma,
h3, {
  font-size: 1.25em;
}

%delta,
.delta,
h4 {
  font-size: 1em;
}

%epsilon,
.epsilon,
h5 {
  font-size: 1em;
}

%zeta,
.zeta,
h6 {
  font-size: 1em;
}
