/**
 * base/_page.scss
 */

/* ==========================================================================
   Page
   ========================================================================== */

/**
 * Set font defaults, base colours and high-level page styles
 */

*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

body {
  color: color(text, medium);
  font: 400 #{($base-font-size/16px)*1em}/#{$base-line-height/$base-font-size} $font-primary;
}


/**
 * Set base branded user interactions
 */

::selection {
  background-color: color(brand, primary);
  text-shadow: none;
  color: #fff;
}
