<footer class="blog-footer">
  <div class="blog-footer__date">
    Posted on<br>
    Jan 20
  </div>

  <div class="blog-footer__author">
    Written by<br>
    Tony Phipps
  </div>

  <ul>
    <li>
      <a class="twitter" href="https://twitter.com/share">
        <span class="icon-twitter-circled"></span>
        <p class="visuallyhidden">Tweet this post</p>
      </a>
    </li>
    <li>
      <a class="facebook" href="#" onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
          'facebook-share-dialog',
          'width=626,height=436');
        return false;">
        <span class="icon-facebook-circled"></span>
        <p class="visuallyhidden">Share this post on Facebook</p>
      </a>
    </li>
  </ul>
</footer>
