<footer class="footer">
  <p><a href="{{ site.social.title['twitter'].url }}{{ site.social.twitter.username }}">Tony Phipps</a> is an Front-end / UI developer from the United Kingdom. When he's not busy <a href="{{ site.social.dribbble.url }}{{ site.social.dribbble.url }}">pushing pixels</a> or <a href="{{ site.social.github.url }}{{ site.social.github.url }}">building things</a> you can find him <a href="http://frontenddevelopers.org/">yarning</a> on slack or taking <a href="{{ site.social.instagram.url }}{{ site.social.instagram.url }}">photos</a>.</p>
</footer>
