<footer class="footer">
  <p><a href="https://twitter.com/neutraltone">Tony Phipps</a> is an Front-end / UI developer from the United Kingdom. When he's not busy <a href="http://dribbble.com/neutraltone">pushing pixels</a> or <a href="https://github.com/neutraltone">building things</a> you can find him keeping the blance on a <a href="http://frontenddevelopers.org/">front-end slack community</a> or taking <a href="https://instagram.com/neutraltone">photos</a> of the Norfolk countryside.</p>
</footer>
